html {
  font-family: Inter, sans-serif;
}
button {
  font-family: inherit;
}
[toolbar] button {
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em;
  background: #609f8a;
  border: 0;
  border-radius: 0.25em;
  color: #fff;
}
[toolbar] button {
  font-family: Inter;
  font-feature-settings: "cv08";
}
[editor] {
  padding: 0.5em;
  margin-top: 0.5rem;
  border-radius: 0.25em;
  background: #f0f4f3;
}
[editor] p {
  margin: 0.25rem 0;
}